.offcanvas .nav-link.active {
    color: #eb3633; /* This sets the text color for active links */
}

.offcanvas .nav-link {
    color: #5b3000; /* Color for inactive links */
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.offcanvas-header {
    background-color: #f8f9fa; /* Or any color of your choice */
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%235b3000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.form-label {
    margin-bottom: 5px; /* Space between label and input */
    display: block; /* Ensure label takes the full width */
}

.form-control, select {
    margin-bottom: 15px; /* Space after input/select before next item */
}

select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.row.g-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row.g-3 > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea#goalDetail {
    height: 100% - 20px; /* Adjusted height to match other inputs */
}

#editGoalSection {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

/* Submit Button Style */
button[type="submit"] {
    background-color: #5b3000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:active {
    background-color: #eb3633;
}

body, h1, h2, h3, h4, h5, h6, div, span, input, select, textarea, table, th, td {
    color: #66462c; /* Sets the color for text in various elements */
}

/* Apply color to text inside form elements and table data */
input, select, textarea, table th, table td {
    color: #66462c; /* Your chosen text color */
}

/* For options in select dropdowns, additional styling might be needed */
select option {
    color: #66462c; /* Ensures text color consistency in dropdown options */
}

