.offcanvas .nav-link.active {
    color: #eb3633; /* This sets the text color for active links */
}

.offcanvas .nav-link {
    color: #5b3000; /* Color for inactive links */
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.offcanvas-header {
    background-color: #f8f9fa; /* Or any color of your choice */
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%235b3000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

