<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='/css/style.css')}}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='/images/ladder_icon.png') }}" type="image/png">
</head>
<body>
    <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
        <div class="offcanvas-header">
            <a class="offcanvas-title" href="{{ url_for('dashboard', me_id=session.get('meid')) }}">
                <img src="{{ url_for('static', filename='/images/ladder_logo.png') }}" alt="Logo" height="40">
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'dashboard' else '' }}" href="{{ url_for('dashboard', me_id=session.get('meid', 'default_value')) }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'clients_overview' else '' }}" href="{{ url_for('clients_overview', me_id=session.get('meid', 'default_value')) }}">Clients Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'rewards' else '' }}" href="{{ url_for('rewards') }}">Rewards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'more_info' else '' }}" href="{{ url_for('more_info') }}">More Info</a>
                </li>
            </ul>
            <div class="sidebar-footer mt-auto">
                <!-- Logout Button -->
                <form action="{{ url_for('logout') }}" method="post">
                    <button class="btn btn-danger" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Navbar Toggle Button -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <!-- Toggler button for offcanvas sidebar -->
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar brand image -->
            <a class="navbar-brand" href="{{ url_for('dashboard', me_id=session.get('meid')) }}">
                <img src="{{ url_for('static', filename='/images/ladder_logo.png') }}" alt="Logo" height="40">
            </a>
        </div>
    </nav>

    <br/>
{% block content %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
  function toggleDarkMode() {
      const body = document.body;
      body.classList.toggle('dark-mode');
      const navbar = document.querySelector('.navbar');
      navbar.classList.toggle('dark-mode');
  
      const toggleButton = document.getElementById('toggle-mode-btn');
      if (body.classList.contains('dark-mode')) {
          toggleButton.textContent = 'Light Mode';
          toggleButton.classList.add('btn-warning');
          toggleButton.classList.remove('btn-outline-primary');
      } else {
          toggleButton.textContent = 'Dark Mode';
          toggleButton.classList.add('btn-outline-primary');
          toggleButton.classList.remove('btn-warning');
      }
  
      localStorage.setItem('darkMode', body.classList.contains('dark-mode') ? 'enabled' : 'disabled');
  }
  
  // Check if dark mode is enabled on page load
  document.addEventListener('DOMContentLoaded', () => {
      const body = document.body;
      const toggleButton = document.getElementById('toggle-mode-btn');
      const navbar = document.querySelector('.navbar');
      if (localStorage.getItem('darkMode') === 'enabled') {
          body.classList.add('dark-mode');
          navbar.classList.add('dark-mode');
          toggleButton.textContent = 'Light Mode';
          toggleButton.classList.add('btn-warning');
          toggleButton.classList.remove('btn-outline-primary');
      }
  });
  </script>
</body>
</html>