{% extends 'base.html' %}
{% block content %}
      <div class="container">
    <h1>Enter your email to ask an question</h1>
    <br/><br/>

    <form action="/form" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email_id">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Query/Question</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="query_question"></textarea>
      </div>
      <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>
{% endblock %}